.item {
    width: 500px;
    height: 33px;
    border: 1px solid black;
    margin: 20px 0;
    background-color: #d9d9d9;
    display: flex;
    justify-content: space-between;
}

.done {
    text-decoration: line-through;
}

.itemContent {
    flex: 1;
    align-self: center;
}

.editButtons {
    display: flex;
    justify-content: space-between;
    margin-left: 20px;
}
.delete {
    text-decoration: line-through;
}